<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhx.house.mapping.HispriceMapper" >
  <resultMap id="BaseResultMap" type="com.hhx.house.entity.Hisprice" >
    <id column="houseID" property="houseid" jdbcType="VARCHAR" />
    <result column="totalPrice" property="totalprice" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    houseID, totalPrice, date
  </sql>

</mapper>